@import 'tailwindcss';

:root {
    --background: hsl(40, 70%, 95%);
    --foreground: hsl(40, 70%, 10%);
    --gold: hsla(40, 70%, 40%, 70%);
    --red: hsl(358, 100%, 38%);
    --green: hsl(144, 100%, 25%);
    --purple: hsl(273, 100%, 64%);
    --gray: rgba(171, 177, 186, 0.7);
}

@font-face {
    font-family: 'RoyalImperial';
    src: url('/fonts/royal_imperial.otf');
}

@theme inline {
    --animate-diebounce: diebounce 1s;
    --animate-dieroll: dieroll 1s;
    --animate-numberblur: numberblur 1s;
    --animate-numberbackdropfadein: numberbackdropfadein 1s;
    --animate-slidefromright: slideFromRight 1s;
    --animate-slidefromleft: slideFromLeft 1s;
    --animate-slidefromtop: slideFromTop 1s;
    --animate-slidefrombottom: slideFromBottom 1s;
    --animate-fadein: fadeIn 1s;
    --animate-fadeout: fadeOut 1s;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-gold: var(--gold);
    --color-red: var(--red);
    --color-green: var(--green);
    --color-purple: var(--purple);
    --color-gray: var(--gray);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-empress: 'RoyalImperial';

    @keyframes fadeIn {
        from {
            filter: opacity(0%);
        }
        to {
            filter: opacity(100%);
        }
    }

    @keyframes fadeOut {
        from {
            filter: opacity(100%);
        }
        to {
            filter: opacity(0%);
        }
    }

    @keyframes slideFromLeft {
        from {
            filter: opacity(0%);
            transform: translateX(-100%);
        }
        to {
            filter: opacity(100%);
            transform: translateX(0%);
        }
    }

    @keyframes slideFromRight {
        from {
            filter: opacity(0%);
            transform: translateX(100%);
        }
        to {
            filter: opacity(100%);
            transform: translateX(0%);
        }
    }

    @keyframes slideFromTop {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0%);
        }
    }

    @keyframes slideFromBottom {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0%);
        }
    }

    @keyframes numberblur {
        0% {
            filter: blur(1.5rem);
        }
        80% {
            filter: blur(1.5rem);
        }
        100% {
            filter: none;
        }
    }

    @keyframes numberbackdropfadein {
        0% {
            filter: opacity(0);
        }
        80% {
            filter: opacity(0);
        }
        100% {
            filter: opacity(100);
        }
    }

    @keyframes diebounce {
        0% {
            transform: translateY(0);
        }
        20% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
        }
        52% {
            transform: translateY(0);
            animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
        }
        68% {
            transform: translateY(-12%);
            animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
        }
        84% {
            transform: translateY(0);
            animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
        }
        92% {
            transform: translateY(-6%);
            animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes dieroll {
        0% {
            transform: rotate(0);
        }
        20% {
            transform: rotate(-10deg);
        }
        52% {
            transform: rotate(30deg);
        }
        68% {
            transform: rotate(110deg);
        }
        84% {
            transform: rotate(190deg);
        }
        92% {
            transform: rotate(350deg);
        }
        100% {
            transform: rotate(510deg);
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --gold: hsla(44, 100%, 50%, 0.8);
        --red: oklch(50.5% 0.213 27.518);
        --green: oklch(52.7% 0.154 150.069);
        --purple: oklch(62.7% 0.265 303.9);
        --gray: rgb(74, 85, 101);
    }
}

body {
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior-x: none;
}
